*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--сolor-primary-white);
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

main {
  background-image: url(../images/background-wave.svg);
  background-repeat: no-repeat;
  background-position: center 620px;

  @media screen and (min-width: $bp-tablet) {
    background-position: center 820px;
  }

  @media screen and (min-width: $bp-desktop) {
    background-position: center 1350px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}
