.form-terms {
  margin: 0 auto;
  max-width: 208px;
  text-align: center;
  color: var(--color-secondary-gray);
  font-size: 12px;
  line-height: 1.5;

  &__link {
    color: var(--color-secondary-gray);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
