.advantages-section {
  padding: 52px 0px 20px;

  @media screen and (min-width: $bp-desktop) {
    padding: 88px 0px 48px;
  }

  &__title {
    margin: 0 auto 24px;

    max-width: 210px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 48px;
      max-width: 441px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--color-secondary-black);
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 56px;
    }
  }

  &__item {
    width: 316px;
    padding: 24px 32px;
    border-radius: 32px;
    background-color: var(--сolor-primary-white);
    fill: var(--сolor-primary-blue);
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);

    @media screen and (min-width: $bp-tablet) {
      flex-basis: 316px;
    }
  }

  &__icon {
    margin-bottom: 8px;

    &--farther {
      margin-bottom: 12px;
    }
  }

  &__text {
    margin-bottom: 0;
    line-height: 1.33;
  }
}
