.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0 24px;

  @media screen and (min-width: $bp-desktop) {
    padding: 32px 0;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__menu {
    display: none;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
    }
  }

  &__link {
    color: var(--color-primary-dark);
    transition: color 0.2s;

    &:hover {
      color: var(--сolor-primary-blue);
    }
  }

  &__address {
    display: none;
    gap: 32px;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
    }
  }

  &__icon {
    fill: var(--color-primary-dark);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__burger {
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    fill: var(--сolor-primary-white);

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
